//site color variables
$body-color: rgb(226, 224, 224);
$primary-color: #35243d;
$secondary-color: #8B7E92;
$text-color: #2a0449;
$text-color-dark: #37233a;
$text-color-light: #fff;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #bcbdc2;
$dark-gray: #646569;

// solid colors
$white: rgb(226, 224, 224);
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
